@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: local("Inter Regular"), local("Inter-Regular"), url(../fonts/Inter-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 500;
  src: local("Inter Medium"), local("Inter-Medium"), url(../fonts/Inter-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 700;
  src: local("Inter Bold"), local("Inter-Bold"), url(../fonts/Inter-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 900;
  src: local("Inter Black"), local("Inter-Black"), url(../fonts/Inter-Black.ttf) format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  src: local("Montserrat Light"), local("Montserrat-Light"), url(../fonts/Montserrat-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(../fonts/Montserrat-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  src: local("Montserrat Black"), local("Montserrat-Black"), url(../fonts/Montserrat-Black.ttf) format("truetype");
}