$color_background: #0e1014;
$color_text-light: #e4e5ea;
$color_text-gray: #656566;
$color_button_background: #4077f3;

.wrapper {
  position: relative;
  margin: 57px auto 0;
  padding: 0 20px;
  max-width: 1140px;
  min-height: 100vh;

  font-family: "Inter", Arial, sans-serif;
  line-height: 1.2;

  background: $color_background;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
}

.header {
  margin: 0 0 94px;
}

.footer {
  margin: 0 0 20px;
}

.container {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
}

.link-logo {
  display: inline-block;
  margin: 0 52px 0 0;
  width: min-content;

  font-family: "Montserrat", Arial, sans-serif;
  font-size: 10px;
  font-weight: 300;
  color: $color_text-light;
  text-decoration: none;

  &__image {
    display: inline-block;
    margin: 0 0 10px;
    padding: 0;
    width: 140px;
    vertical-align: top;
  }

  &__sign {
    margin: 0;
    padding: 0;
  }
}

.link-phone {
  display: block;
  margin: 0;
  padding: 4px 0 0;

  font-size: 16px;
  font-weight: 500;
  color: $color_text-light;
  text-decoration: none;
}

.navigation {
  margin: 0;
  padding: 4px 0 0;

  &__heading {
    margin: 0 0 20px;
    padding: 0;
    font-size: 14px;
    font-weight: 700;
    color: $color_text-gray;
    letter-spacing: 0.7px;
    text-transform: uppercase;
  }

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
    list-style: none;
  }

  &__link {
    font-size: 16px;
    font-weight: 500;
    color: $color_text-light;
    text-decoration: none;

    &_thinging {
      font-weight: 400;
    }
  }

  &_column {
    max-height: 140px;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 52px;
  }

  &_small-gap {
    gap: 10px;
  }
}

.main {
  display: flex;
  justify-content: space-between;

  font-weight: 400;
  color: $color_text-light;

  &__heading {
    margin: 0 0 30px;
    padding: 0;
    width: min-content;
    font-size: 48px;

    &-sign {
      width: 275px;
      font-family: "Montserrat", Arial, sans-serif;
      font-size: 18px;
    }
  }
}

.content {
  &-heading {
    margin: 0 0 40px auto;
    padding: 0;
    width: 290px;

    font-size: 18px;
    font-weight: 500;
    color: $color_text-light;
    text-align: end;

    background: linear-gradient(to right, #fcb045, #ff3f78);
    background-clip: text;
  }

  &__list {
    margin: 0 0 60px auto;
    padding: 0;
    height: 170px;

    display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
  }

  &__item {
    width: 140px;

    &-heading {
      margin: 0 0 8px;
      padding: 0;

      font-size: 18px;
      font-weight: 500;
      color: $color_text-light;
      text-align: end;
      letter-spacing: 0.9px;
      text-transform: uppercase;
    }

    &-text {
      margin: 0;
      padding: 0;

      font-family: "Montserrat", Arial, sans-serif;
      font-size: 16px;
      font-weight: 400;
      color: $color_text-light;
      text-align: end;
    }
  }

  &__button {
    display: block;
    margin: 0 0 124px auto;
    padding: 21px 35px;

    font-size: 16px;
    font-weight: 500;
    color: $color_text-light;
    background-color: $color_button_background;

    border: none;
  }
}

.contacts {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;

  &__heading {
    margin: 0;
    padding: 0;

    font-size: 14px;
    font-weight: 700;
    color: $color_text-gray;
    letter-spacing: 0.7px;
    text-transform: uppercase;
  }

  &__text {
    margin: 0;
    padding: 0;

    font-size: 16px;
    font-weight: 400;
    color: $color_text-light;
  }

  &__policy {
    margin: 0;
    padding: 0;

    font-family: "Montserrat", Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: $color_text-light;
    text-align: end;

    &-link {
      display: block;
      font: inherit;
      color: inherit;
      text-decoration: underline;
    }
  }
}

.margin {
  &_bottom {
    &_big {
      margin-bottom: 50px;
    }
  }

  &_right {
    &_big {
      margin-right: 98px;
    }

    &_medium {
      margin-right: 47px;
    }
  }
}

.text {
  &_weight {
    &_bold {
      font-weight: 700;
    }

    &_black {
      font-weight: 900;
    }
  }

  &_background {
    &_gradient {
      background: linear-gradient(to right, #fcb045, #ff3f78);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      color: transparent;
    }
  }

  &_color {
    &_transparent {
      -webkit-text-fill-color: transparent;
      color: $color_text-light;
    }
  }
}

.background {
  position: relative;

  &__red-light {
    position: absolute;
    left: -102px;
    top: 251px;

    width: 311px;
    height: 311px;
    border-radius: 311px;
    opacity: 0.5;
    background: #961a1a;
    filter: blur(196px);
  }

  &__purple-light {
    position: absolute;
    left: 602px;
    top: -154px;

    width: 259px;
    height: 259px;
    border-radius: 259px;
    opacity: 0.5;
    background: #833ab4;
    filter: blur(196px);
  }

  &__red-ball {
    position: absolute;
    left: 704px;
    top: 547px;

    width: 62px;
    height: 62px;
    fill: radial-gradient(
      82.3% 82.3% at 27.25% 26.5%,
      rgba(255, 208, 208, 0.48) 0%,
      rgba(212, 93, 93, 0.25) 59.67%,
      rgba(167, 49, 49, 0.26) 78.59%,
      rgba(130, 25, 25, 0.23) 100%
    );
    filter: drop-shadow(3px 6px 27px rgba(223, 125, 125, 0.25)) blur(2.5px);
    backdrop-filter: blur(2px);
  }

  &__red-ball-big {
    position: absolute;
    left: 369px;
    top: 83px;

    width: 83px;
    height: 83px;
    fill: radial-gradient(
      82.3% 82.3% at 27.25% 26.5%,
      rgba(255, 208, 208, 0.54) 0%,
      rgba(212, 93, 93, 0.26) 59.67%,
      rgba(167, 49, 49, 0.25) 78.59%,
      rgba(130, 25, 25, 0.25) 100%
    );
    filter: drop-shadow(3px 6px 27px rgba(223, 125, 125, 0.25));
    backdrop-filter: blur(2px);
  }

  &__purple-ball {
    position: absolute;
    left: 718px;
    top: -2px;

    width: 60px;
    height: 60px;
    fill: radial-gradient(
      82.3% 82.3% at 27.25% 26.5%,
      rgba(236, 208, 255, 0.64) 0%,
      rgba(161, 93, 207, 0.24) 59.67%,
      rgba(118, 49, 164, 0.21) 78.59%,
      rgba(86, 24, 128, 0.23) 100%
    );
    filter: drop-shadow(3px 6px 27px rgba(177, 118, 217, 0.25)) blur(5px);
    backdrop-filter: blur(2px);
  }
}
